<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">表紙</th>
      <th class="text-center">タイトル</th>
      <th class="text-center">著者</th>
      <th class="text-center">出版社</th>
      <th class="text-center">発行年</th>
      <th class="text-center">コメント</th>
      <th class="text-center" colspan="4" >操作</th>
      
    </tr>
  </thead>

  <tbody>
    <% books.each do |book| %>
      <tr>
        <% if book.image&.url %>
        <td><%= image_tag book.image&.url, :size  => '60x80'%></td>
        <% end %>
        <td class="text-center align-middle"><%= book.title %></td>
        <td class="text-center align-middle"><%= book.author %></td>
        <td class="text-center align-middle"><%= book.publisher %></td>
        <td class="text-center align-middle"><%= book.published_at %></td>
        <td class="text-center align-middle"><%= book.comment %></td>
        <td class="text-center align-middle"><%= link_to '詳細', book %></td>
        <td class="text-center align-middle"><%= link_to '編集', edit_book_path(book) %></td>
        <td class="text-center align-middle"><%= link_to '削除', book, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<%= paginate books %>